<%- include('./partials/header'); %>
    <section>
        <article>
            <h2>Band Name Generator</h2>
            <h3>Your Band Name is:</h3>
            <p><%= bandName %></p>
            <a class="btn" href="/">Try again</a>
        </article>
    </section>
<%- include('./partials/footer'); %>