<%- include('./partials/header'); %>
    <section>
        <article>
            <h2>Hey! it's <%= timeOfWeek %>, it's time to <%= timeToWhat %>!</h2>
        </article>
    </section>
<%- include('./partials/footer'); %>